%header
  F%!#, No Sweat

#form_wrapper
  .ui.form
    .row_wrapper
      .left
        .ui.fluid.labeled.input
          .ui.label @@
          %input#one(type="text" placeholder="@@")
      .right
        .ui.fluid.labeled.input
          .ui.label ##
          %input#two(type="text" placeholder="##")
    .row_wrapper
      .left
        .ui.fluid.labeled.input
          .ui.label $$
          %input#three(type="text" placeholder="$$")
      .right
        .ui.fluid.labeled.input
          .ui.label %%
          %input#four(type="text" placeholder="%%")
    .text_area.original
      %textarea#original(rows="7")

    .button_box
      .ui.buttons
        %button#merge.ui.button Merge
        .or
        %button#copy.ui.positive.button(data-clipboard-action="cut" data-clipboard-target="#merged") Cut

    .divider_block
      ='------------------- %!# -------------------'
    .text_area.merged
      %textarea#merged(rows="7")
    
